# Django
*.pyc
__pycache__/
*.sqlite3
*.log
.env
.DS_Store

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/

# Docker
.dockerignore

# IDE
.vscode/
.idea/

# Environment variables
.env.local
.env.production

# Kubernetes
kubeconfig

# Jenkins
jenkins_home/